# 🖥️ macOS関連
.DS_Store
.Trash/
.localized

# 🐍 Python関連
__pycache__/
*.pyc
*.pyo
*.pyd
*.env

# 🏗️ 仮想環境関連
.venv/
env/
venv/
myenv/
flask_app_env/

# 📜 Logs
logs/
*.log

# 🚀 大容量ファイル
*.mp4
*.zip
*.pth
*.ckpt
*.tar.gz
*.tar.xz
*.dmg

# 🔒 機密情報（パスワードやキーを無視）
.env
**/*.env
*.key
*.crt
client_secrets.json

# ⚙️ 設定関連（開発環境ごとに異なるファイルを無視）
node_modules/
.idea/
.vscode/
.gitconfig

# 🐳 Docker関連（Dockerファイルのキャッシュを無視）
Docker.dmg

# SQLite データベースファイル
local.db

# 🚫 surnames_split フォルダを無視
surnames_split/
