# macOS関連
.DS_Store
.Trash
.localized

# Python関連
__pycache__/
*.pyc
*.pyo
*.env
**/*.env
*.pem
venv/
myenv/

# Logs
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# IDE関連
.idea/
.vscode/

# 一時ファイルや履歴関連
*.session
*.history

# バックアップや一時的なファイル
flask_app_backup/
large_files.txt
remove_files.txt

# 無関係なrequirements.txtを無視
spacy/tests/package/requirements.txt
google-cloud-sdk/**/requirements.txt
venv/**/requirements.txt

# データフォルダや一時的な作業フォルダを無視
models/
results/
data/
pdfs/

# 大きなファイルを無視
*.csv
*.pth
*.ckpt
*.tar.gz
*.zip
*.tar.xz
*.dmg

# 機密情報
.env
**/*.env
*.key
*.crt
client_secrets.json
